<nav>
  <h1>Chewin' the Fat</h1>
  <h3>A blog about food for your face.</h3>
  <hr>
</nav>
{{outlet}}
<hr>
<footer>
  {{#link-to 'index'}}Index{{/link-to}} | {{#link-to 'admin'}}Admin{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} 
  &copy; M &amp; K 2016.</footer>
