<h1>Welcome to Chewin' the Fat</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel mattis mauris, sit amet sagittis est</p>

<div class="date">
  {{#each model as |post|}}
    {{post-tile post=post}}
  {{/each}}
</div>
